<div class="login-container">
  <div class="row">
    <div class="jumbotron">
      <div class="auth-form-lights">
        <div class="brand-logo">
          <img src="assets/Images/loginImg.jpeg" alt="logo">
        </div>
        <!-- <h6 class="font-weight-bolder p-2">Sign in to continue.</h6> -->
        <div ng-app="myApp" ng-controller="myController" class="container">
          <form [formGroup]="loginForm"(submit)="onSubmit()">
            <div class="form-group">
              <label for="password">Employee Number</label>
              <input formControlName="EmployeeNo" id="EmployeeNo" type="text" class="form-control">
              <div *ngIf="f.EmployeeNo.touched && f.EmployeeNo.invalid" class="alert alert-danger">
                <div *ngIf="f.EmployeeNo.errors?.required">EmployeeNo is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input
                formControlName="Password" id="Password" type="Password" class="form-control">
              <div *ngIf="f.Password.touched && f.Password.invalid" class="alert alert-danger">
                <div *ngIf="f.Password.errors?.required">Password is required.</div>
                Input 8 Character Password
              </div>
            </div>
                <div >
                <button type="submit" class="btn btn-primary btn-block btn-lg ">LogIn</button>
                </div>
                <div class="row m-10">
                  <div class="col-6">
                    <a href="#">
                      Create Account
                    </a>
                  </div>
                  <div class="col-6">
                    <a  class="text-danger" href="#">
                      Forgot password ?
                    </a>
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>
